<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo</title>
</head>
<body>
    <center>
        <form method='post' enctype="multipart/form-data" >
        {% csrf_token %}
    
        <h1>Welcome to Thoughtwin It Solutions </h1>
        <hr>
        {{form.as_p}}
        <input type="submit" value="Submit">
        
    </center>
    <a href="show-task">dashboard</a>
    
    
</body>
</html>